* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* ============================ */
/* COMMON STYLES */
/* ============================ */

.btn {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #005fac;
  border-radius: 10px;
  border: none;
  padding: 20px 35px;
}

/* ============================ */
/* HEADER SECTION STYLES */
/* ============================ */
header {
  background-image: url("../images/banner/banner3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: right;
}

.banner-section {
  text-align: right;
  width: 550px;
  margin: 250px 300px 0px 0px;
}

.banner-section h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 86px;
  color: #fff;
}

.banner-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 25px 0px 30px 30px;
  text-align: right;
}

/* ============================ */
/* FAILURE SECTION STYLES */
/* ============================ */

.failure-section {
  display: flex;
  flex-direction: row;
  max-width: 1340px;
  margin: 0 auto;
}

.failure-image {
  width: 50%;
  /* background-color: green; */
}

.failure-image img {
  margin: 100px 0px 0px 0px;
  width: 650px;
  height: 830px;
}

.failure-content {
  width: 50%;
  /* background-color: red; */
}

.failure-content-description {
  margin: 350px 150px 0px 100px;
}

.failure-content-description h2 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 25px;
}

.failure-content-description p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #444343;
  margin-bottom: 25px;
}

.failure-reason li {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 8px;
  color: #444343;
  margin-left: 30px;
}
