* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* ============================ */
/* COMMON STYLES */
/* ============================ */

.btn {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #005fac;
  border-radius: 10px;
  border: none;
  padding: 20px 35px;
  cursor: pointer;
}

/* ============================ */
/* HEADER SECTION STYLES */
/* ============================ */
header {
  background-image: url("../images/banner/banner3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: right;
}

.banner-section {
  text-align: right;
  width: 550px;
  margin: 250px 300px 0px 0px;
}

.banner-section h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 86px;
  color: #fff;
}

.banner-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 25px 0px 30px 30px;
  text-align: right;
}

.banner-btn:hover {
  background-color: #3fbde8;
  outline: 1px solid #fff;
  color: #fff;
  transition: 0.8s;
}

/* ============================ */
/* FAILURE SECTION STYLES */
/* ============================ */

.failure-section {
  display: flex;
  flex-direction: row;
  max-width: 1340px;
  margin: 0 auto;
}

.failure-image {
  width: 50%;
}

.failure-image img {
  margin: 100px 0px 0px 0px;
  width: 650px;
  height: 830px;
}

.failure-content {
  width: 50%;
}

.failure-content-description {
  margin: 350px 150px 0px 100px;
}

.failure-content-description h2 {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 25px;
}

.failure-content-description p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #444343;
  margin-bottom: 25px;
}

.failure-reason li {
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 8px;
  color: #444343;
}
.failure-icon {
  color: #16d887;
  margin-right: 10px;
  font-size: 18px;
}
/* ============================ */
/* PLAN SECTION STYLES */
/* ============================ */

.plan-section-description {
  max-width: 1140px;
  margin: auto;
}

.plan-heading h2 {
  text-align: center;
  padding-top: 150px;
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 50px;
}

.plan-contents {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.plan-item h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #151414;
  margin-top: 30px;
}

.plan-item p {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
  margin-top: 15px;
  margin-bottom: 130px;
}

/* ============================ */
/* CTA SECTION STYLES */
/* ============================ */

.CTA-section {
  width: 1140px;
  height: 300px;
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
  margin: auto;

  border-radius: 10px;
}

.CTA-content {
  width: 450px;
  margin-left: 60px;
  padding-top: 60px;
}

.CTA-content h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}

.CTA-btn {
  margin-top: 25px;
}

.CTA-btn:hover {
  background-color: #3fbde8;
  outline: 1px solid #fff;
  color: #fff;
  transition: 0.8s;
}
/* ============================ */
/* CTA SECTION STYLES */
/* ============================ */

footer {
  margin-top: 125px;
  background-color: #151414;
}
.footer-section {
  width: 1140px;
  margin: auto;
  display: flex;
}

.footer-description,
.subscribe {
  margin-top: 130px;
  margin-bottom: 130px;
}

.footer-description {
  width: 70%;
}

.footer-description h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
}

.footer-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 15px;
  width: 70%;
}

.social-link img {
  margin-top: 30px;
}

.twitter,
.youtube {
  margin-left: 15px;
}

.subscribe {
  width: 30%;
}

.subscribe h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.subscribe input {
  width: 300px;
  padding: 20px;
  outline: 1px solid #fff;
  background-color: #151414;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f3f3f3;
}

.subscribe input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f3f3f3;
}

.subscribe-btn {
  background-color: #3fbde8;
  color: #fff;
  margin-top: 20px;
}

.subscribe-btn:hover {
  background-color: #fff;
  outline: 1px solid #005fac;
  color: #005fac;
  transition: 0.8s;
}
